
  .slider-container {
  /* if you want to have a scrollbar, you can add overflow here */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0rem 2rem;
    padding: 3px;
    scroll-behavior: smooth;
  }
  .slider-wrapper {
    display: flex;
    align-items: center;
    width: 90%;
  }
  
  .btnSlider {
    position: relative;
    cursor: pointer;
    padding: 5px;
    line-height: 30px;
    height: 33px;
    border-bottom: 1px solid #C8C8C8;
    font-weight: 600;
    width: 20px;
    text-align: center;
    color: black;
    :disabled{visibility: hidden;  pointer-events: none;}
  }
  .btnSliderLeft {
    padding-right:5px;
  }
  .btnSliderRight {
  
    border-bottom: 1px solid #C8C8C8;
  }
  .disableSlider {
    opacity: 0.5;
   pointer-events: none;
   visibility: hidden;
  }
  